/**
 * Created by BRITENET on 06.02.2019.
 */

.THIS {
    font-size:15px;
}

.THIS .slds-card{
    border:none;
}

.THIS .slds-text-color{
    color:black;
    font-size:15px;

}

.THIS .slds-table thead th{
    font-size:20px;
    color: rgb(114,3,3);
    font-weight:normal;

}

.THIS .slds-text-heading_small{
    font-size:20px;
}

.THIS h2{
        text-align: center;
        margin: 20px;
    }


.THIS.slds-tabs_card{
    border:none;
}

.THIS .slds-button_neutral {
    border:none;
}

.THIS .slds-p-around_large{
    padding-top:3.5rem;
}

.THIS .slds-table_fixed-layout tbody{
    font-size:15px;
}

.THIS .slds-text-heading--small{
    font-size:20px;
}



