/**
 * Created by BRITENET on 04.02.2019.
 */
.THIS {
}

.THIS .slds-file__title_card{
    display:none;
}

.THIS .forceContentFileCard .slds-truncate{
    display:none;
}

.THIS {
    font-size:20px;
}

.THIS .slds-card{
    border:none;
    text-align:center;
}

.THIS .slds-text-color{
    color:black;
    font-size:20px;

}

.THIS .slds-table thead th{
    font-size:25px;
    color: rgb(114,3,3);
    font-weight:normal;

}

.THIS .slds-text-heading_small{
    font-size:25px;
}

.THIS .custom-box {
    text-align: center;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

.THIS h2{
        text-align: center;
        margin: 25px;
    }


.THIS.slds-tabs_card{
    border:none;
}

.THIS .slds-button_neutral {
    border:none;
}

.THIS .slds-p-around_large{
    padding-top:3.5rem;
}

.THIS [lightning-input_input-host]{
    text-align:center;
}

.THIS .slds-car{
    border:none;
}

.THIS .slds-card__body{

    margin-top:10px;
    text-align:center;
}

.THIS .slds-button-group{
    margin-top:10px;
    margin-bottom:10px;
}

.THIS .slds-file--card{
    border:none;
}

.THIS .slds-list_horizontal{
    border-bottom: 1px solid rgb(217,219,221);
}

.THIS .customClass{
    display:inline-flex;
}

.THIS .fileCardClass>div{
    width:0px;
}

.THIS .mainPhoto{
     font-size:25px;
     color: rgb(114,3,3);
     padding-bottom:0.5rem;
}

.THIS .buttons{
    text-align:left;
    padding-bottom:0.5rem;
}

